
{%- import '_css_macros.html' as css_macros with context -%}

<!DOCTYPE html>
<html>
	<head>
		{%- if title -%}
			<title>Deduper - {{ title }}</title>
		{%- else -%}
			<title>Deduper</title>
		{%- endif -%}

		<!-- Base template header -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Sub template header -->
		{%- block header -%}{%- endblock -%}
		<!-- template header end -->
	</head>
	<body>
		<div class='body_table'>
			<div class="body_td_left">
				{%- include '_block_nav.html' -%}
			</div>
			<div class="body_td_right">
				{%- block content -%}{%- endblock -%}
			</div>

		</div>



	</body>

	<!-- Base template footer -->
	<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
	<script src="/static/js/jquery-latest.js"></script>

	{{css_macros.gen_css()}}

	<!-- Sub template-footer -->
	{%- block footer -%}{%- endblock -%}
	<!-- Template footer end -->
</html>
