
{% macro render_pagination(pagination, url_for_param=None) %}

	{%- set agg_dict = merge_dicts(request.args, kwargs) -%}

	<div class="text-center">
		<ul class="pagination pagination-lg">

			{% if pagination.has_prev %}
				<li>
					<a href="{{ url_for(request.endpoint, page=pagination.prev_num, **agg_dict) }}">&laquo;</a>
				</li>
			{% else %}
				  <li class="disabled"><a href="#">«</a></li>
			{% endif %}

			{%- for page in pagination.iter_pages() %}
				{% if page %}
					{% if page != pagination.page %}
						<li>
							{% if url_for_param %}
								<a href="{{ url_for(url_for_param, page=page, **agg_dict) }}">{{ page }}</a>
							{% else %}
								<a href="{{ page }}">{{ page }}</a>
							{% endif %}
						</li>
					{% else %}
						<li class="disabled">
							<span class="disabled"><strong>{{ page }}</strong></span>
						</li>
					{% endif %}
				{% else %}
					<li class="disabled">
						<span class=ellipsis>…</span>
					</li>
				{% endif %}
			{%- endfor %}

			{% if pagination.has_next %}
				<li>
					<a href="{{ url_for(request.endpoint, page=pagination.next_num, **agg_dict) }}">&raquo;</a>
					</li>
			{% else %}
				<li class="disabled"><a href="#">&raquo;</a></li>
			{% endif %}

		</ul>
	</div>
{% endmacro %}


{%- macro createReaderLink(itemName, itemInfo) -%}
	{%- if itemInfo == None or itemInfo["item"] == None -%}
		{%- if itemName -%}
			{{itemName}}
		{%- else -%}
			No series name?
		{%- endif -%}
	{%- else -%}
		<a href='/reader/by-series/{{itemInfo['dirKey'] | urlencode}}'>{{itemName}}</a>
	{%- endif -%}
</%def>


{%- endmacro -%}


{%- macro mouseOverJs(key='showTT') -%}

		// Yeah, apparently you can have raw js in
		// mako functions.

		$(document).ready(function() {
		// Tooltip only Text
		$('.{{key}}').hover(function(e){
			// Hover over code
			var mouseovertext = $(this).attr('mouseovertext');
			var mousex = e.pageX + 20; //Get X coordinates
			var mousey = e.pageY + 10; //Get Y coordinates
			$(this).data('tipText', mouseovertext).removeAttr('mouseovertext');
			$('<p class="tooltip"></p>')
			.html(mouseovertext)
			.css({ top: mousey, left: mousex, position:'absolute', display:'block', opacity: 1  })
			.appendTo('body');
		}, function() {
			// Hover out code
			$(this).attr('mouseovertext', $(this).data('tipText'));
			$('.tooltip').remove();
		}).mousemove(function(e) {
			var mousex = e.pageX + 20; //Get X coordinates
			var mousey = e.pageY + 10; //Get Y coordinates
			$('.tooltip')
			.css({ top: mousey, left: mousex, position:'absolute'  })
		});
		});

{%- endmacro -%}
