<!-- extend base layout -->

{%- extends "__base.html" -%}
{%- block content -%}
	{%- include '_block_flash.html' -%}
	<div class='subdiv fuid'>
		<h3>Common Files</h3>

		<div class='contentdiv'>
			<table>
				<col width="400px">
				<col width="200px">
				<col width="100px">
				<col width="100px">
				<tr>
					<th>DbID</th>
					<th>PHash</th>
					<th>Binary PHash</th>
					<th>Matches</th>
					<th>Distance</th>
				</tr>
				{%- for dbid, phash, phash_bin, match_count, distance in common -%}
					<tr>
						<td>{{dbid}}</td>
						<td style='text-align: right;'>
							<a href='/debug/high_incidence_item/{{phash}}'>
								<code>{{phash}}</code>
							</a>
						</td>
						<td>
							<a href='/debug/high_incidence_item/{{phash}}'>
								<code>{{phash_bin}}</code>
							</a>
						</td>
						<td>{{match_count}}</td>
						<td>{{distance}}</td>
					</tr>
				{%- endfor -%}
			</table>
		</div>


	</div>
{%- endblock -%}

