<!-- extend base layout -->



{%- macro common_block(block_dist, block) -%}
	<div style="max-width: 1000px">
		<h4>Search for distance: {{block_dist}}: {{block | length}} items</h4>
		<table style="max-width: 1000px">
			<col width="100px">
			<col >
			<col >
			<tr>
				<th>DbID</th>
				<th>FSPath</th>
				<th>InternalPath</th>
			</tr>
			{%- for dbid, fspath, internalpath in block -%}
				<tr>
					<td><a href='/debug/single_item/{{dbid}}'>{{dbid}}</a></td>
					<td>{{fspath}}</td>
					<td>{{internalpath}}</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2"><img style="display: inline-block; max-width: 500px;" src='/debug/scraper_resource/whole_image/{{dbid}}'></td>
				</tr>
			{%- endfor -%}
		</table>
	</div>
{%- endmacro -%}


{%- extends "__base.html" -%}
{%- block content -%}
	{%- include '_block_flash.html' -%}
	<div class='subdiv fuid'>
		<h3>Common File Matches</h3>
		{%- for key in matches -%}
			{{common_block(key, matches[key])}}
		{%- endfor -%}


	</div>
{%- endblock -%}


{%- block footer -%}


{%- endblock -%}
